<html>
  <head>
    <title>Add art</title>
  </head>
  <body>
    <h1>Add art</h1>
    <form method="post" action="/new">
      <div>
        Title: <input name="title">
      </div>
      <div>
        Artwork: <input name="artwork">
      </div>
      <div>
        <button>Add art</button>
      </div>
    </form>
  </body>
</html>